/********main____title*********/
.main__title {
    h2 {
        font-size: 27px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 1px;
        text-align: center;
        padding: 20px;
        padding-bottom: 10px;
    }
}