.footer {
    border-top: 2px solid #EAEAEA;
    padding: 20px 0;
    background: #fff;
    width: 100%;
    p {
        color: #555;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 20px;
        width: 70%;
        margin: auto;
        text-align: center;
        a {
            display: block;
            color: #555;
        }
    }
}